<!DOCTYPE html>
<html lang="ch">
<head>
    <meta charset="UTF-8">
    <title>created</title>
</head>
<body>
<form action="/new" method="POST" enctype="multipart/form-data">
    name: <input type="text" name="name" required="required"> <br>
    borough: <input type="text" name="borough"> <br>
    cuisine: <input type="text" name="cuisine"> <br>
    photo: <input type="file" name="photo"> <br>
    street: <input type="text" name="street"> <br>
    building: <input type="text" name="building"> <br>
    zipcode: <input type="password" name="zipcode"> <br>
    coord: <input type="password" name="coord"> <br>
    <input type="submit" value="Submit">
</form>
</body>
</html>
