<!DOCTYPE html>
<html lang="ch">
<head>
    <meta charset="UTF-8">
    <title>list</title>
</head>
<body>
<p>restaurant list</p>
<ul>
    <% params.forEach(function(item){%>
    <li><a href="/display?_id=<%=item.id%>"><%-item.name %></a></li>
    <% }) %>
</ul>
<a href="/new">created</a>
</body>
</html>
