<!DOCTYPE html>
<html lang="ch">
<head>
    <meta charset="UTF-8">
    <title>sign in</title>
</head>
<body>
<form action="/signin" method="POST">
    Name: <input type="text" name="name"> <br>
    Password: <input type="password" name="pwd">
    <input type="submit" value="Submit">
</form>
<a href="/login">login</a>
</body>
</html>
